body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Nunito', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
:root {
  --bgColor: #FF9138;
  --bgColorinvert: #FFF2E7;
  --fontColor: #FF7506;
  --selectColor: var(--fontColor)
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.container {
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1368px;
  }
}
button {
  color: white;
  background-color: var(--bgColor);
  font-size: 1rem;
  border: none;
  padding: 0.25rem 0;
  width: 9rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  cursor: pointer;
  transition: all 0.5s ;
}
button:hover {
  background-color: var(--selectColor);
}
button > div {
  display: flex;
  justify-content: center;
}
button.buttonInvert {
  background-color: var(--bgColorinvert);
  color: var(--bgColor);
  border: 1px solid var(--bgColor);
}